/target/
Cargo.lock
*.log
/vendor/.travis.yml
/vendor/bin/
/vendor/doc/
/vendor/Lib/
/vendor/m4/
/vendor/Projects/
/vendor/testbed/
/vendor/utils/
aclocal.m4
AUTHORS
autogen.sh
ChangeLog
compile
config.guess
config.status
config.sub
configure
configure.ac
depcomp
INSTALL
install-sh
lcms2.def
lcms2.pc
lcms2.pc.in
libtool
ltmain.sh
Makefile
Makefile.am
Makefile.in
missing
README.1ST
